         
         
         
         
         
        header {
            text-align: center;
            border-bottom: 1px solid #ddd;
            padding: 50px;
        } 
        
        nav {
            display: flex;
            justify-content: space-around;
            border-bottom: 1px solid #ddd;
            padding: 30px;
           }

         .main-top {
            display: flex;
            justify-content: space-between;
         }

         .top-left-box {
            flex: 1;
            width: 70%;
            padding: 20px;
            margin: 10px;
            border-right: 1px solid #ddd;
            text-align: center;
         }

         .top-right-box {
            font-size: small;
            width: 30%;
            padding: 20px;
            margin: 10px;
            
            text-align: center;
         }

         .top-right-box button {
            margin-top: 35px;
         }

         .main-top button {
            padding: 10px 80px;
            font-size: 14px;
            white-space: nowrap;
         }

         .main-middle {
            border-top: 1px solid #ddd;
            border-bottom: 1px solid #ddd;
         }

         .middle-top-box {
            text-align: center;
            margin-top: 20px;
         
         }

         .middle-top-box p {
            padding-top: 10px;
            font-size: small;
         }
         
         

         .middle-image {
            display: flex;
            flex-direction: column;
            align-items: center;
         }

         .middle-image img {
            width: 100%;
            height: 300px;
            object-fit: cover
         }

         .middle-flex {
            display: flex;
            text-align: center;
            padding: 30px;
            margin: 30px auto;
            max-width: 10000px;
            font-family: sans-serif;
            gap: 100px;
            justify-content: space-around;
        }

        .middle-right {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 16px;
            margin-top: 20px;
            flex-direction: column;
            
        }

        .middle-right button {
         padding: 10px 20px;
         font-size: 14px;
         white-space: nowrap;
        }

       
        .info {
         font-size: 13px;
         max-width: 300px;
         line-height: 50px;
         
        }

         .bottom-top-box {
            display: flex;
            justify-content: space-between;
            gap: 10px;
            margin-bottom: 10px;
           
         }

         .bottom-top-box-left {
             flex: 1;
            border: 1px solid black;
            padding: 16px;
            margin: 20px;
            }

          .bottom-top-box-right {
             flex: 1;
            border: 1px solid black;
            padding: 16px;
            margin: 20px;
          }

          .ott-box {
            text-align: center;
            font-weight: bold;
            padding: 30px;
            margin: 20px ;
            border-top: 1px solid #ddd;
            border-bottom: 1px solid #ddd;
          }

         

         .bottom-flex {
            display: flex;
            justify-content: space-around;
         }

         .bottom {
            display: flex;
            justify-content: space-between;
            gap: 20px;
            margin-bottom: 40px;
         }

         .bottom button {
            padding: 10px 20px;
            font-size: 14px;
            white-space: nowrap;
         }

         .bottom-middle-box {
            flex:1;
            padding: 20px;
            text-align: center;
            border: 1px solid black;
            padding: 20px;
            margin: 10px;
         }

         .bottom-middle-box h3 {
            border: 1px solid black;
            border-radius: 5px;
            padding: 10px;
            background-color: #DAA520;
            margin-bottom: 10px;
         }

         .bottom-middle-box p {
            font-size: 13px;
         }

         .bottom-image {
             display: flex;
            flex-direction: column;
            align-items: center;
            flex-direction: column;
         }

         .bottom-image img {
            width: 130px;
            height: 150px;
            object-fit: cover;
            padding: 20px;
         }

         footer {
             font-size: 12px;
             text-align: center;
             padding-top: 20px;
             border-top: 1px solid #ccc;
         }

         ul {
            display: flex;
            gap:30px;
            border-bottom: 1px solid #ccc ;
            padding-bottom: 20px;
            padding-left: 30px;
         }

         .footer-info {
            display: flex;
         }

         .footer-left {
            text-align: left;
            padding: 10px;
         }

         .footer-right {
            margin: 20px;
         }